* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    background-image: url(/Project/Media/Body.jpg);
    background-size: cover;
    color: white;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}

header {
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    /* background-color: #413b3cbd; */
    position: sticky;
    top: 0%;
}

.left {
    /* border: 2px solid yellow; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: -8px;
}

.left img {
    filter: invert(20%);
    /*It inverts the colour .i.e white  in to black nd vice versa*/
    width: 100px;
    margin: auto;
    display: block;
}

.left div {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Stylish', sans-serif;

}

.centre {
    /* border: 2px solid pink; */
    width: 60%;
    margin: 0px auto;
    /* background-color: yellow; */
}

ul {
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 0px 25px;

}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: red;
}

.right {

    /* border: 2px solid green; */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 0px;
    height: 100px;
}

.btn, .submit {
    padding: 0px 5px;
    margin: 0px 10px;
    font-size: 17px;
    font-weight: bolder;
    border: 2px solid red;
    border-radius: 15px;
    font-family: 'Baloo Bhai 2', cursive;
    cursor: pointer;

}

.btn:hover, .submit:hover{
    text-decoration: underline;
    color: red;
    background-color: green;
}

.container {
    border: 2px solid white;
    margin: 80px 50px;
    padding: 20px;
    border-radius: 10px;
    width: 45%;

}
.form input{
    margin: 10px auto;
    padding: 5px;
    display: block;
    width: 75%;
    text-align: center;
    border-radius: 10px;

}
h2{
    text-align: center;
}
.submit{
    display: block;
    width: 77%;
margin: 33px auto;
    
}